@import "framework/variables";
@import 'framework/tw_bootstrap_variables';
@import "bootstrap/variables";

$active-background: rgba(0,0,0,.04);
$active-border: $indigo-500;
$active-color: $indigo-700;
$active-hover-background: $active-background;
$active-hover-color: $gl-text-color;
$inactive-badge-background: rgba(0,0,0,.08);
$hover-background: $indigo-700;
$hover-color: $white-light;
$inactive-color: $gl-text-color-secondary;
$new-sidebar-width: 220px;

.page-with-new-sidebar {
  @media (min-width: $screen-sm-min) {
    padding-left: $new-sidebar-width;
  }

  // Override position: absolute
  .right-sidebar {
    position: fixed;
    height: 100%;
  }
}

.context-header {
  border-bottom: 1px solid $border-color;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 10px;
  color: $gl-text-color;

  .avatar-container {
    flex: 0 0 40px;
  }

  &:hover {
    background-color: $hover-background;
    color: $hover-color;
    border-color: $hover-background;

    .avatar-container {
      border-color: transparent;
    }

    .settings-avatar {
      background-color: $indigo-500;

      i {
        color: $hover-color;
      }
    }
  }
}

.settings-avatar {
  background-color: $white-light;
  transition: background-color 100ms linear;

  i {
    font-size: 20px;
    width: 100%;
    color: $gl-text-color-secondary;
    text-align: center;
    align-self: center;
    transition: color 100ms linear;
  }
}

.nav-sidebar {
  position: fixed;
  z-index: 400;
  width: $new-sidebar-width;
  transition: width $sidebar-transition-duration;
  top: 50px;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: $gray-normal;
  box-shadow: inset -2px 0 0 $border-color;

  a {
    text-decoration: none;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    white-space: nowrap;

    a {
      display: block;
      padding: 12px 16px;
      color: $inactive-color;
    }
  }

  li.active {
    box-shadow: inset 4px 0 0 $active-border;

    > a {
      color: $active-color;
      font-weight: 700;
    }
  }

  @media (max-width: $screen-xs-max) {
    width: 0;
  }
}

.sidebar-sub-level-items {
  display: none;
  padding-bottom: 8px;

  > li {
    a {
      font-size: 12px;
      padding: 8px 16px 8px 24px;

      &:hover,
      &:focus {
        background: $active-hover-background;
        color: $active-hover-color;
      }
    }

    &.active {
      a {
        &,
        &:hover,
        &:focus {
          background: $active-background;
          color: $active-color;
        }
      }
    }
  }
}

.sidebar-top-level-items {
  > li {
    .badge {
      float: right;
      background-color: $inactive-badge-background;
      color: $inactive-color;
    }

    &.active {
      background: $active-background;

      .badge {
        color: $active-color;
        font-weight: 600;
      }

      .sidebar-sub-level-items {
        display: block;
      }
    }

    > a:hover {
      background-color: $hover-background;
      color: $hover-color;

      .badge {
        transition: background-color 100ms linear, color 100ms linear;
        background-color: $indigo-500;
        color: $hover-color;
      }
    }
  }
}


// Make issue boards full-height now that sub-nav is gone

.boards-list {
  height: calc(100vh - 50px);

  @media (min-width: $screen-sm-min) {
    height: 475px; // Needed for PhantomJS
    // scss-lint:disable DuplicateProperty
    height: calc(100vh - 120px);
    // scss-lint:enable DuplicateProperty
  }
}


// Change color of all horizontal tabs to match the new indigo color
.nav-links li.active a {
  border-bottom-color: $active-border;

  .badge {
    font-weight: 600;
  }
}
